
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

*{
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: darkslategray;
}
div{
    text-align:center;
}
p{
    text-align: center;
    font-size:25px;
    color:white;
    }

    button{
        width:150px;
        height:150px;
        border: 7px solid black;
        border-radius:25px;
        margin:5px;
    }
    .btn-green{
        background-color:green;
    }
    .btn-blue{
        background-color:blue;
    }
    .btn-yellow{
        background-color:yellow;
    }
    .btn-red{
        background-color:red;
    }
.clickMe{
    width: 150px;
    height:50px;
    background-Color:skyblue;
    border:2px solid blue;
    transition: all 0.2s linear;
}
.clickMe:hover{
    background-Color:#43abfa;
    border:2px solid blue;
}